*.iml
.gradle

.DS_Store
/build
/captures
.externalNativeBuild

Python Backend/datasets/forex/
Python Backend/datasets/index/
Python Backend/datasets/stock/

Python Backend/\.idea/

Python Backend/__pycache__/

Python Backend/network/__pycache__/

Android App/\.idea/
Android App/\.idea/caches
Android App/\.idea/libraries
Android App/\.idea/modules.xml
Android App/\.idea/workspace.xml
Android App/\.idea/navEditor.xml
Android App/\.idea/assetWizardSettings.xml
Android App/local.properties